.form {
    display: flex;
    justify-content: stretch;
    margin: 3rem 0;
}

.form-control {
    width: 100%;
    color: rgb(33, 37, 41);
    appearance: none;
    background-color: #fff;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 6px;
    background-clip: padding-box;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all .15s ease-in-out;
    display: block;
}

.btn {
    color: #fff;
    background-color: #1E8AE7;
    border: 1px solid #1E8AE7;
    border-radius: .375rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding: .375rem .75rem;
}